[submodule "backend"]
	path = backend
	url = git@github.com:PenguinCodeTeam/krasnodar-back.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:PenguinCodeTeam/krasnodar-front.git
	branch = master